[Unit]
Description=Coturn node number %I
After=network.target

[Service]
ExecStart=/usr/bin/turnserver -c /opt/turnserver/turnserver-node.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
